:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242836;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  background: #242836;
  color: #fff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


p {
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

input,
textarea {
  background: #fff;
  padding: 3px 6px;
  color: black;
}

textarea {
  width: 100%;
  min-height: 200px
}

label {
  display: block;
  text-align: left;
  margin-bottom: 0.2rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-4 {
    margin-bottom: 1rem;
}

#root {
  background: #242836;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#canvas {
  margin: 0 auto;
  display: block;
}

.messageDropdown {
  width: 75%;
  word-wrap: break-word;
  background-color: #2b3042;
  padding: 0.5em;
  border-radius: 20px;
  margin: 10px;
}

.messageDropdown .messageHeader {
  font-size: 1.5em;
  cursor: pointer;
}

.messageDropdown #message {
  display: none;
}

.qrCodeContainer {
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
  position: relative;
}

#configs {
  display: flex;
  flex-direction: column;
}

.App {
  min-height: 422px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-brand {
  background: url("https://mkodo.com/c/campaign/1584/content/mkodowhite.svg") 0 0/120px no-repeat;
  height: 40px;
  width: 120px;
  margin: 0 auto;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.animate-in {
  animation: animate-in 1s ease-in-out;
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: rotate(0);
    scale: 0.7;
  }
  100% {
    opacity: 1;
    transform: rotate(720deg);
    scale: 1;
  }
}

.corners-border {
  border-image-source: url('/borderImage.svg');
  border-image-slice: 51%;
  border-image-width: 2.5em;
}

.frameTarget-1 {
  position: absolute;
  width: 400px;
  height: 400px;
}

.frameTarget-2 {
  position: absolute;
  width: 500px;
  height: 350px;
}

.frameTarget-3 {
  position: absolute;
  width: 350px;
  height: 500px;
}
