.btListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btListHeading {
    background: #EE1753;
    font-weight: bold;
    list-style: none;
}

.btList {
    margin-bottom: 20px;
    width: 800px;
}

.btListItem {
    display: flex;
    background: #373a52;
    list-style: none;
    padding: 2px 8px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btListItemTimestamp, .btListItemValue {
    flex: 1 1 0;
}

.btListItem:nth-child(odd) {
    background: #1e2031;
}

.button {
    background-color: #EE1753;
}

.button.table {
    margin: 8px 0;
    padding: 4px 8px;
}

.characteristicRow {
    gap: 8px;
}

.connected {
    color: lawngreen;
}

.notConnected {
    color: red;
}

.writePopupContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.writePopup {
    background: #373a52;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border-radius: 8px;
    padding: 16px 32px;
    width: 400px;
    margin-bottom: 16px;
}

.logTableHeader {
    background-color: #EE1753;
    font-weight: bold;
    color: white;
}

.logTableRow {
    background: #373a52;
    padding: 2px 8px;
}

.logTableRow:nth-child(odd) {
    background: #1e2031;
}

.logTable {
    width: 800px;
    border-collapse: collapse;
    margin-bottom: 32px;
}

.logTableData {
    width: 200px;
}
